{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homePage' %}">User</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--admin navbar-->
            {% if user.is_authenticated and user.is_superuser and user.is_staff %}
            <div class="navbar-nav offset-md-0">
                <a class="nav-link active" aria-current="page" href="{% url 'postPage' %}">Posts</a>
            </div>
            <div class="navbar-nav offset-md-0">
                <a class="nav-link active" aria-current="page" href="{% url 'add_post' %}">Add Post</a>
            </div>
            <div class="navbar-nav offset-md-0">
                <a class="nav-link active" aria-current="page" href="/admin">Admin panel</a>
            </div>
            <div class="navbar-nav offset-md-8">
                <a class="nav-link active" aria-current="page" href="{% url 'logout_user' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
            <!--end admin navbar--> 
            

            <!--staff navbar-->
            {% elif user.is_authenticated and user.is_staff %}
            <div class="navbar-nav offset-md-0">
                <a class="nav-link active" aria-current="page" href="{% url 'postPage' %}">Posts</a>
            </div>
            <div class="navbar-nav offset-md-0">
                <a class="nav-link active" aria-current="page" href="{% url 'add_post' %}">Add Post</a>
            </div>
            <div class="navbar-nav offset-md-9">
                <a class="nav-link active" aria-current="page" href="{% url 'logout_user' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
            <!--end staff navbar-->


            <!--normal user navbar-->   
            {% elif user.is_authenticated %}
            <div class="navbar-nav offset-md-0">
                <a class="nav-link active" aria-current="page" href="{% url 'postPage' %}">Posts</a>
            </div>
            <div class="navbar-nav offset-md-10">
                <a class="nav-link active" aria-current="page" href="{% url 'logout_user' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
            <!--end normal user navbar-->   
            {% endif %}
            </div>
        </div>
    </nav>
{% endblock content %}