{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

    <div class="container mt-4">
    <form action="" method="POST">
       {% csrf_token %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col">
            <label for="" class="form-label">Post title*</label>
            <input type="text" name="post_title" class="form-control" placeholder="Exsample like this " required> 
        </div>
        <div class="col">
            <label for="" class="form-label">slug*</label>
            <input type="text" name="slug" class="form-control" placeholder="exsample-like-this" required>
        </div>
        <div class="col">
            <label for="" class="form-label">Author*</label>
            <input type="text" name="creater" class="form-control" placeholder="Who is author" required>
        </div>
        <div class="col">
            <label for="" class="form-label">Image url*</label>
            <input type="text" name="image" class="form-control" placeholder="https://Exsample.jpg" required>
        </div>
        <div class="col">
            <label for="" class="form-label">publish*</label>
            <input type="checkbox" name="post_published" id="post_published_checkbox">
            <input type="hidden" name="post_published" value="False">
        </div>
        </div>
        <div class="col">
            <label for="" class="form-label">Body*</label>
            <textarea class="form-control" name="body" id="editor" cols="30" rows="10">{{form.body.value }}</textarea>
        </div>        
    <button type="submit" class="btn btn-primary w-100 mt-4 ">Add the post</button>
</form>
</div> 

 <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('#editor'));
</script>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.23.0/ckeditor.js" integrity="sha512-7tXDCaWDbkhXMuB8meqHJJySRtqB4QvPS84FMnnh5vlyRiNsrIne8xwME0RQNrg4f+7CZPOAc7tXNtWgdHdCng==" crossorigin="anonymous">


 ClassicEditor.create(document.querySelector('#editor'));


</script> {% endcomment %}



{% endblock %}

