{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}


    {% comment %} <div class="col-md-6 offset-md-1 p-3">
       <h1>Add post</h1>
       <form method="POST" action="" autocomplete="on">
        {% csrf_token %}
        <div class="mb-3">
          <label for="" class="form-label">Post title</label>
          <input type="text"
            class="form-control" name="post_title" aria-describedby="helpId" placeholder="Example is good" required>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">slug</label>
          <input type="text"
            class="form-control" name="slug" aria-describedby="helpId" placeholder="Example is good" required>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Heading</label>
          <input type="text"
            class="form-control" name="heading" aria-describedby="helpId" placeholder="Content of the Post" required>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Paragraph one</label>
          <input type="text"
            class="form-control" name="paragraph_one" aria-describedby="helpId" placeholder="Content of the Post" required>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Paragraph two</label>
          <input type="text"
            class="form-control" name="paragraph_two" aria-describedby="helpId" placeholder="Content of the Post" required>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Paragraph three</label>
          <input type="text"
            class="form-control" name="paragraph_three" aria-describedby="helpId" placeholder="Content of the Post" >
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Paragraph four</label>
          <input type="text"
            class="form-control" name="paragraph_four" aria-describedby="helpId" placeholder="Content of the Post" >
        </div>
        
        <div class="mb-3">
          <label for="" class="form-label">Image url</label>
          <input type="text"
            class="form-control" name="image" aria-describedby="helpId" placeholder="http://Exsample.jpg" required>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Author</label>
          <input type="text"
            class="form-control" name="creater" aria-describedby="helpId" placeholder="Who is Author" required>
        </div>
        <button  type="submit" class="btn btn-secondary offset-md-5" >Add post</button>
    </form>
    </div> {% endcomment %}





    <!--updated-->
    <div class="container mt-4">
    <form action="" method="POST">
       {% csrf_token %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col">
            <label for="" class="form-label">Post title*</label>
            <input type="text" name="post_title" class="form-control" placeholder="Exsample like this " required> 
        </div>
        <div class="col">
            <label for="" class="form-label">slug*</label>
            <input type="text" name="slug" class="form-control" placeholder="exsample-like-this" required>
        </div>
        <div class="col">
            <label for="" class="form-label">Author*</label>
            <input type="text" name="creater" class="form-control" placeholder="Who is author" required>
        </div>
         <div class="col">
            <label for="" class="form-label">Image url*</label>
            <input type="text" name="image" class="form-control" placeholder="https://Exsample.jpg" required>
        </div>
        </div>
        <div class="col">
            <label for="" class="form-label">Body*</label>
            {% comment %} <input type="textarea" name="body" class="form-control" placeholder="add a Heading" required>  {% endcomment %}
            
            <textarea class="form-control" name="body" id="editor" cols="30" rows="10">{{form.body.value }}</textarea>
        </div>        
    <button type="submit" class="btn btn-primary w-100 mt-4 ">Add the post</button>
</form>
</div> 

 <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('#editor'));
</script>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.23.0/ckeditor.js" integrity="sha512-7tXDCaWDbkhXMuB8meqHJJySRtqB4QvPS84FMnnh5vlyRiNsrIne8xwME0RQNrg4f+7CZPOAc7tXNtWgdHdCng==" crossorigin="anonymous">


 ClassicEditor.create(document.querySelector('#editor'));


</script> {% endcomment %}



{% endblock %}

