{% extends 'base.html' %} 
{% load static %}
{% block content %} 
{% include 'navbar.html' %}

<!-- ========== Start admin ========== -->
{% if user.is_authenticated and user.is_superuser and user.is_staff %}

<!--The card-->
<div class="container-fluid mt-4 mb-3">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-6 col-lg-4">
      <div class="card p-3 mb-4">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="{{ post.image }}" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0"><strong>{{post.post_title}}</strong></h6>
              <span>published {{post.created_date}}</span>
            </div>
          </div>
          <div class="badge">
            <span class="span-1">
              <div class="badge">
                <span data-bs-toggle="modal" data-bs-target="#exampleModal"
                  >Manage</span
                >
              </div>
            </span>
          </div>
        </div>
        <div class="mt-3">
          <h3 class="heading">{{post.paragraph_one|truncatewords:5}}</h3>
          <div class="mt-5">
            <a href="{% url 'post_reading' post.slug %}"
              ><button class="btn btn-dark w-100">Read more</button></a
            >
          </div>
        </div>
      </div>
    </div>

    <!--the modal-->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage this Post</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-footer">
            <a href="{% url 'delete_post' post.id %}"
              ><button type="button" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i> Delete
              </button></a
            >

            <a href="#"
              ><button type="button" class="btn btn-secondary">
                <i class="fa-solid fa-pen"></i> Update
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <h1>No more posts</h1>
    {% endfor %}
  </div>
</div>

<!-- ========== End admin ========== -->

<!-- ========== Start staff ========== -->
{% elif user.is_authenticated and user.is_staff %}

<!--the card-->
<div class="container-fluid mt-4 mb-3">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-6 col-lg-4">
      <div class="card p-3 mb-4">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="{{ post.image }}" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0"><strong>{{post.post_title}}</strong></h6>
              <span>published {{post.created_date}}</span>
            </div>
          </div>
          <div class="badge">
            <span class="span-1">
              <div class="badge">
                <span data-bs-toggle="modal" data-bs-target="#exampleModal"
                  >Manage</span
                >
              </div>
            </span>
          </div>
        </div>
        <div class="mt-3">
          <h3 class="heading">{{post.paragraph_one|truncatewords:5}}</h3>
          <div class="mt-5">
            <a href="{% url 'post_reading' post.slug %}"
              ><button class="btn btn-dark w-100">Read more</button></a
            >
          </div>
        </div>
      </div>
    </div>

    <!--the modal-->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage this Post</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-footer">
            <a href="#"
              ><button type="button" class="btn btn-secondary">
                <i class="fa-solid fa-pen"></i>Update
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <h1>No more posts</h1>
    {% endfor %}
  </div>
</div>

<!-- ========== End staff ========== -->

<!-- ========== Start normal user ========== -->
{% elif user.is_authenticated %}
<!--the card-->
<div class="container-fluid mt-4 mb-3">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-6 col-lg-4">
      <div class="card p-3 mb-4">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="{{ post.image }}" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0"><strong>{{post.post_title}}</strong></h6>
              <span>published {{post.created_date}}</span>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <h3 class="heading">{{post.paragraph_one|truncatewords:5}}</h3>
          <div class="mt-5">
            <a href="{% url 'post_reading' post.slug %}"
              ><button class="btn btn-dark w-100">Read more</button></a
            >
          </div>
        </div>
      </div>
    </div>

    {% empty %}
    <h1>No more posts</h1>
    {% endfor %}
  </div>
</div>

<!-- ========== End normal user ========== -->
{% endif %} {% endblock %} 
