{% extends 'base.html' %} 
{% load static %}
{% block content %} 
{% include 'navbar.html' %}


<div class="container mt-4">
    <form method="POST" action="">
    {% csrf_token %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col">
            <label for="" class="form-label">Post title*</label>
            <input type="text" name="post_title" value="{{ post.post_title }}" class="form-control" required> 
        </div>
        <div class="col">
            <label for="" class="form-label">slug*</label>
            <input type="text" name="post_slug" value="{{ post.slug }}" class="form-control" required>
        </div>
        <div class="col">
            <label for="" class="form-label">Image url*</label>
            <input type="text" name="post_image" value="{{ post.image }}" class="form-control" required>
        </div>
        <div class="col">
            <label for="" class="form-label">Author*</label>
            <input type="text" name="post_author" value="{{ post.creater }}" class="form-control" required>
        </div>
  
    </div>
    <div class="col">
            <label for="" class="form-label">Body*</label>
            <textarea class="form-control" name="post_body" id="editor" cols="30" rows="10" required> {{ post.body }} </textarea>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-4 ">Update the post</button>
</form>
</div> 


<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('#editor'));
</script>


{% endblock %}